<p>This tutorial is written and maintained by <a href="https://rz.github.io">Rodrigo Guzman</a>.</p>
<p>
I monitor the comments on the <a href="https://github.com/scratchcode/scratchdb/commits/master">commits in the repo</a>. That's the best place for questions or comments about the code.
  If the question or comment is about a particular line or section of the code, try to put it inline.
</p>
<p>
  If you think a private conversation it is more appropriate please email me at <a href="mailto:rodguze@gmail.com">rodguze@gmail.com</a>.
  You can also reach out to me on twitter <a href="https://twitter.com/rodguze">@rodguze</a>.
</p>
